RewriteEngine on
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteRule ^robots\.txt$ index.php?/$0 [L,NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://www.gecharl.com/$1 [R=301,L]

#SetEnv CI_ENV production