<!DOCTYPE html>
<html lang="en">
<head>
    <title>Responsive website template for startups</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='../../../../fonts.googleapis.com/css5319.css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='../../../../fonts.googleapis.com/csse3e5.css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>  
    <!-- FontAwesome JS-->
    <script type="text/javascript" src="assets/plugins/font-awesome/js/fontawesome-all.min.js"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="assets/plugins/pe-icon-7-stroke/css/pe-icon-7-stroke.css"> 
    <link rel="stylesheet" href="assets/plugins/animate-css/animate.min.css">
    <link rel="stylesheet" href="assets/plugins/flexslider/flexslider.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/theme-1.css">  

</head> 

<body class="home-page">

    <div class="wrapper">
        <!-- ******HEADER****** --> 
        <header id="header" class="header">  
            <div class="container">            
                <h1 class="logo">
                    <a href="index.html">
                        <span class="logo-title">Tempo</span>
                    </a>
                </h1><!--//logo-->              
                <nav class="main-nav navbar navbar-expand-md navbar-dark" role="navigation">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>           
                    <div class="navbar-collapse collapse justify-content-end" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active nav-item"><a class="nav-link" href="index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="tour.html">Tour</a></li>
                            <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
                            <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Blog <i class="fas fa-angle-down"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="blog.html">Blog Home</a>
                                    <a class="dropdown-item" href="blog-single.html">Single Blog Post</a>
                                    <a class="dropdown-item" href="404.html">404 Page</a>
                                    <a class="dropdown-item" href="email-templates/tempo-email-color-1.html">Email Template (10 Colour Options)</a>          
                                </div>
                            </li><!--//dropdown--> 
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>                            
                            <li class="nav-item"><a class="nav-link login-trigger" data-toggle="modal" data-target="#login-modal">Log in</a></li>
                            <li class="nav-item nav-item-cta last"><a class="nav-link btn btn-cta btn-cta-primary" data-toggle="modal" data-target="#signup-modal" >Get Started</a></li>
                        </ul><!--//nav-->
                    </div><!--//navabr-collapse-->
                </nav><!--//main-nav-->     
            </div><!--//container-->
        </header><!--//header-->
        
        <!-- ******PROMO****** --> 
        <section id="promo" class="promo section">  
            <div class="container intro">
                <h2 class="title">Everything you need<br />to get your startup business online</h2>
                <p class="summary">Tempo is a Bootstrap-based HTML5 template designed specifically to help startups promote their products or services.</p>
                <a class="btn btn-cta btn-cta-secondary" href="tour.html">Learn More</a>
            </div><!--//intro-->
            
            <div class="fixed-container">
                <div class="signup">
                    <div class="container text-center">
                        <h3 class="title">Try Tempo Free</h3>
                        <p class="summary">Sign up to try Tempo FREE for 30 days! No credit card needed.</p>
                        <form class="signup-form">
                            <div class="form-group">
                                <label class="sr-only" for="semail1">Your email</label>
                                <input type="email" id="semail1" name="semail1" class="form-control" placeholder="Enter your email address">
                            </div>
                            <button type="submit" class="btn btn-cta btn-cta-primary">SIGN UP</button>
                        </form><!--//signup-form-->
                    </div><!--//contianer-->
                </div><!--//signup-->
                <div class="social text-center">
                    <div class="container">
                        <span class="line">Love Tempo? Spread the word:</span> 
                        
                        <!--//twitter tweet button code starts -->
                        <div class="twitter-tweet">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-via="3rdwave_media" data-hashtags="bootstrap">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        </div>
                        <!--//twitter tweet button code ends -->
                        
                        <!--//facebook like button code starts-->
                        <div class="fb-like" data-href="http://themes.3rdwavemedia.com/tempo/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true" ></div>
                        <!--//facebook like button code ends-->      
                    </div>         
                </div><!--//social-->   
            </div>  
            <div class="bg-slider-wrapper">
                <div id="bg-slider" class="flexslider bg-slider">
                    <ul class="slides">
                        <li class="slide slide-1"></li>
                        <li class="slide slide-2"></li>
                        <li class="slide slide-3"></li>
                    </ul>
                </div>
            </div><!--//bg-slider-wrapper--> 
        </section><!--//promo-->
        
        <!-- ******PRESS****** --> 
        <div class="press">
            <div class="container text-center">
                <div class="row">
                    <div class="press-item col-lg-2 col-md-4 col-6"><a href="#"><img class="img-fluid" src="assets/images/press/press-1.png" alt=""></a></div>
                    <div class="press-item col-lg-2 col-md-4 col-6"><a href="#"><img class="img-fluid" src="assets/images/press/press-2.png" alt=""></a></div>
                    <div class="press-item col-lg-2 col-md-4 col-6"><a href="#"><img class="img-fluid" src="assets/images/press/press-3.png" alt=""></a></div>                                 
                    <div class="press-item col-lg-2 col-md-4 col-6"><a href="#"><img class="img-fluid" src="assets/images/press/press-4.png" alt=""></a></div> 
                    <div class="press-item col-lg-2 col-md-4 col-6"><a href="#"><img class="img-fluid" src="assets/images/press/press-5.png" alt=""></a></div>
                    <div class="press-item col-lg-2 col-md-4 col-6"><a href="#"><img class="img-fluid" src="assets/images/press/press-6.png" alt=""></a></div>
                </div><!--row-->
            </div>
        </div><!--//press-->  
            
        <!-- ******WHY****** --> 
        <section id="why" class="why section">
            <div class="container">
                <h2 class="title text-center">Why Use Tempo</h2>
                <p class="intro text-center">More than 300,000 happy customers are using Tempo around the world</p>
                <div class="row">
                    <div class="benefits col-lg-7 col-md-6 col-12">                    
                            <div class="item">                      
                                <div class="icon text-center">
                                    <span class="pe-icon pe-7s-rocket"></span>
                                </div><!--//icon-->
                                <div class="content">
                                    <h3 class="title">Brings you consectetuer adipiscing elit</h3>
                                    <p class="desc">State a benefit of your product/services here. You can change the icon on the left to any of the 600+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. Maecenas ultrices pellentesque nisi, eu volutpat nunc. </p>
                                </div><!--//content-->                         
                            </div><!--//item-->
                            <div class="item">                        
                                <div class="icon text-center">
                                    <span class="pe-icon pe-7s-piggy"></span>
                                </div><!--//icon-->
                                <div class="content">
                                    <h3 class="title">No more velit tristique condimentum</h3>
                                    <p class="desc">State a benefit of your product/services here. You can change the icon on the left to any of the 600+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. Maecenas ultrices pellentesque nisi, eu volutpat nunc. </p>
                                </div><!--//content-->
                            </div><!--//item-->
                            <div class="item">                       
                                <div class="icon text-center">
                                    <span class="pe-icon pe-7s-users"></span>
                                </div><!--//icon-->
                                <div class="content">
                                    <h3 class="title">Connect lectus ultricies dolor vulputate</h3>
                                    <p class="desc">State a benefit of your product/services here. You can change the icon on the left to any of the 600+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. Maecenas ultrices pellentesque nisi, eu volutpat nunc. </p>
                                </div><!--//content-->
                            </div><!--//item-->
                            <div class="item">
                                <div class="icon text-center">
                                    <span class="pe-icon pe-7s-bicycle"></span>
                                </div><!--//icon-->
                                <div class="content">
                                    <h3 class="title">Liberate vulputate eleifend tellus</h3>
                                    <p class="desc">State a benefit of your product/services here. You can change the icon on the left to any of the 600+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. Maecenas ultrices pellentesque nisi, eu volutpat nunc. Cras pharetra turpis pharetra iaculis euismod.</p>
                                </div><!--//content-->
                            </div><!--//item-->
                            <div class="item last">
                                <div class="icon text-center">
                                    <span class="pe-icon pe-7s-joy"></span>
                                </div><!--//icon-->
                                <div class="content">
                                    <h3 class="title">Helps laoreet auctor libero</h3>
                                    <p class="desc">State a benefit of your product/services here. You can change the icon on the left to any of the 600+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. Maecenas ultrices pellentesque nisi, eu volutpat nunc. Pellentesque fermentum purus nec mi vulputate interdum. Ut eu vulputate mi.</p>
                                </div><!--//content-->
                            </div><!--//item-->
                        <div class="clearfix"></div>
                        <div class="text-center">
                            <a class="btn btn-cta btn-cta-secondary" href="tour.html" >Learn how it works</a>
                        </div>
                    </div> 
                    <div class="testimonials col-lg-4 col-md-5 col-12 ml-md-auto mr-md-auto">
                        <div class="item">
                            <div class="quote-box">
                                <blockquote class="quote">Love it! vehicula consequat cursus. Morbi bibendum cursus urna, quis rhoncus arcu. Curabitur vel sollicitudin leo.
                                </blockquote><!--//quote-->
                                <p class="details">
                                    <span class="name">Steven Turner</span>
                                    <span class="title">Bristol, UK</span>
                                </p> 
                                <i class="fas fa-quote-right"></i>                                
                            </div><!--//quote-box-->
                            <div class="people text-center">
                                <img class="img-rounded user-pic" src="assets/images/people/people-1.png" alt="">                       
                            </div><!--//people-->
                        </div><!--//item-->
                        <div class="item">
                            <div class="quote-box">
                                <blockquote class="quote">Great vehicula consequat cursus. Pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim!
                                    
                                </blockquote><!--//quote-->
                                <p class="details">
                                    <span class="name">Michelle Cheung</span>
                                    <span class="title">San Francisco, US</span>
                                </p> 
                                <i class="fas fa-quote-right"></i>                                
                            </div><!--//quote-box-->
                            <div class="people text-center">
                                <img class="img-rounded user-pic" src="assets/images/people/people-2.png" alt="">                       
                            </div><!--//people-->
                        </div><!--//item-->
                        <div class="item last">
                            <div class="quote-box">
                                <blockquote class="quote">Excellent Vivamus sit amet tortor id orci interdum tempor sed sit amet ante, pretium quis, sem. Nulla consequat massa quis enim!
                                </blockquote><!--//quote-->
                                <p class="details">
                                    <span class="name">James Lee</span>
                                    <span class="title">London, UK</span>
                                </p> 
                                <i class="fas fa-quote-right"></i>                                
                            </div><!--//quote-box-->
                            <div class="people text-center">
                                <img class="img-rounded user-pic" src="assets/images/people/people-3.png" alt="">                       
                            </div><!--//people-->
                        </div><!--//item-->
                    </div>                   
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//why-->
        
        <!-- ******VIDEO****** --> 
        <section id="video" class="video section">
            <div class="container">
                <h2 class="title">Grow your business, start today!</h2>
                <p class="summary">If you have a promo video, you can put it in this block. Vitae dapibus elit viverra. Praesent ullamcorper dignissim arcu, at vulputate ligula suscipit eu.</p>
                <div class="control text-center">
                    <button type="button" id="play-trigger" class="play-trigger" data-toggle="modal" data-target="#tour-video"><span class="icon-holder"><i class="fas fa-play"></i></span></button>
                    <p>Watch Video</p>
                    
                    <!-- Video Modal -->
                    <div class="modal modal-video" id="tour-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 id="videoModalLabel" class="modal-title">Video Tour</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="video-container embed-responsive embed-responsive-16by9">
                                        <iframe id="vimeo-video" class="embed-responsive-item" src="https://player.vimeo.com/video/32424882?" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div><!--//video-container-->
                                </div><!--//modal-body-->
                            </div><!--//modal-content-->
                        </div><!--//modal-dialog-->
                    </div><!--//modal-->                    
                </div><!--//control-->
            </div><!--//container-->
        </section><!--//video-->
        
        <!-- ******FAQ****** --> 
        <section id="faq" class="faq section has-bg-color">
            <div class="container">
                <h2 class="title text-center">Frequently Asked Questions</h2>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><a data-parent="#accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq1" aria-expanded="false"><i class="fas fa-plus-square"></i>Can I viverra sit amet quam eget lacinia?</a></h4>
                            </div>
                
                            <div class="card-collapse collapse" id="faq1" aria-expanded="false" style="height: 0px;">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//card-->
                
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><a data-parent="#accordion" data-toggle="collapse" class="card-toggle" href="#faq2"><i class="fas fa-plus-square"></i>What is the ipsum dolor sit amet quam tortor?</a></h4>
                            </div>
                
                            <div class="card-collapse collapse" id="faq2">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//card-->
                
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><a data-parent="#accordion" data-toggle="collapse" class="card-toggle" href="#faq3"><i class="fas fa-plus-square"></i>How does the morbi quam tortor work?</a></h4>
                            </div>
                
                            <div class="card-collapse collapse" id="faq3">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//card-->
                        
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><a data-parent="#accordion" data-toggle="collapse" class="card-toggle" href="#faq4"><i class="fas fa-plus-square"></i>Can I ipsum dolor sit amet nascetur ridiculus?</a></h4>
                            </div>
                
                            <div class="card-collapse collapse" id="faq4">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//card--> 
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><a data-parent="#accordion" data-toggle="collapse" class="card-toggle" href="#faq5"><i class="fas fa-plus-square"></i>Is it possible to tellus eget auctor condimentum?</a></h4>
                            </div>
                
                            <div class="card-collapse collapse" id="faq5">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//card-->
                
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><a data-parent="#accordion" data-toggle="collapse" class="card-toggle" href="#faq6"><i class="fas fa-plus-square"></i>Would it elementum turpis semper imperdiet?</a></h4>
                            </div>
                
                            <div class="card-collapse collapse" id="faq6">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//card-->
                
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><a data-parent="#accordion" data-toggle="collapse" class="card-toggle" href="#faq7"><i class="fas fa-plus-square"></i>How can I imperdiet lorem sem non nisl?</a></h4>
                            </div>
                
                            <div class="card-collapse collapse" id="faq7">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//card-->
                        
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><a data-parent="#accordion" data-toggle="collapse" class="card-toggle" href="#faq8"><i class="fas fa-plus-square"></i>Can I imperdiet massa ut?</a></h4>
                            </div>
                
                            <div class="card-collapse collapse" id="faq8">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//card--> 
                    </div>
            </div><!--//row-->
                <div class="more text-center">
                    <h4 class="title">More questions?</h4>
                    <a class="btn btn-cta btn-cta-secondary" href="contact.html">Get in touch</a>
                </div>
            </div><!--//container-->        
        </section><!--//faq-->
        
        <!-- ******SIGNUP****** --> 
        <section id="signup" class="signup">
            <div class="container text-center">
                <h2 class="title">Ready to kickstart your business with Tempo?</h2>
                <p class="summary">Sign up to try Tempo FREE for 30 days! No credit card needed.</p>
                <form class="signup-form" method="post" action="#">
                    <div class="form-group">
                        <label class="sr-only" for="semail2">Your email</label>
                        <input type="email" id="semail2" name="semail2" class="form-control" placeholder="Enter your email address" required>
                    </div>
                    <button type="submit" class="btn btn-cta btn-cta-primary">SIGN UP</button>
                </form><!--//signup-form-->
            </div>
        </section><!--//signup-->
            
    </div><!--//wrapper-->
    
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-lg-5 col-md-7 col-12 about">
                        <div class="footer-col-inner">
                            <h3 class="title">About Us</h3>
                            <p>Maecenas ac vehicula velit, nec facilisis elit. Phasellus non porttitor justo, eu bibendum elit. Maecenas pharetra non ligula quis ultricies. Nulla varius vestibulum ligula quis hendrerit. Maecenas et fermentum massa. Ut hendrerit, nulla fringilla venenatis pulvinar, nisl est adipiscing nunc, quis consequat mi mauris vel felis.</p>
                            <p><a class="more" href="#">Learn more <i class="fas fa-long-arrow-alt-right"></i></a></p>
                            
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                    <div class="footer-col col-lg-3 col-md-4 col-12 mr-lg-auto links">
                        <div class="footer-col-inner">
                            <h3 class="title">Links</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fas fa-caret-right"></i>Knowledge Base</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i>Jobs</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i>Press</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i>Terms of services</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i>Privacy Policy</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->                 
                    <div class="footer-col col-lg-3 col-12 contact">
                        <div class="footer-col-inner">
                            <h3 class="title">Get in touch</h3>
                            <div class="row">
                                <p class="tel col-lg-12 col-md-4 col-12"><i class="fas fa-phone"></i>0800 123 4567</p>
                                <p class="email col-lg-12 col-md-4 col-12"><i class="fas fa-envelope"></i><a href="#">support@website.com</a></p>
                                <p class="email col-lg-12 col-md-4 col-12"><i class="fas fa-comment"></i><a href="#">Live Chat</a></p>    
                            </div> 
                        </div><!--//footer-col-inner-->            
                    </div><!--//foooter-col-->   
                </div><!--//row-->
            </div><!--//container-->        
        </div><!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <div class="row">
                    <small class="copyright col-md-6 col-12">Template Copyright <a href="http://themes.3rdwavemedia.com/" target="_blank">@ 3rd Wave Media</a></small>
                    <div class="social-container col-md-6 col-12">
                        <ul class="social list-inline">
	                        <li class="last list-inline-item"><a href="#" ><i class="fab fa-youtube"></i></a></li>
                            <li class="list-inline-item"><a href="#" ><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#" ><i class="fab fa-facebook-f"></i></a></li>                        
                            <li class="list-inline-item"><a href="#" ><i class="fab fa-twitter"></i></a></li>
                            
                        </ul><!--//social-->
                    </div><!--//social-container-->
                </div><!--//row-->
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->
    
    <!-- Login Modal -->
    <div class="modal modal-login" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="loginModalLabel" class="modal-title justify-content-center">Log in to your account</h4>
                </div>
                <div class="modal-body">
                    <div class="social-login text-center">                        
                        <ul class="list-unstyled social-login">
                            <li><button class="twitter-btn btn" type="button"><i class="fab fa-twitter"></i>Log in with Twitter</button></li>
                            <li><button class="facebook-btn btn" type="button"><i class="fab fa-facebook-f"></i>Log in with Facebook</button></li>
                            <li><button class="google-btn btn" type="button"><i class="fab fa-google-plus-g"></i>Log in with Google</button></li>
                        </ul>
                    </div>
                    <div class="divider"><span>Or</span></div>
                    <div class="login-form-container">
                        <form class="login-form">                
                            <div class="form-group email">
	                            <i class="fas fa-envelope"></i>
                                <label class="sr-only" for="login-email">Your email</label>
                                <input id="login-email" name="login-email" type="email" class="form-control login-email" placeholder="Your email">
                            </div><!--//form-group-->
                            <div class="form-group password">
	                            <i class="fas fa-lock"></i>
                                <label class="sr-only" for="login-password">Password</label>
                                <input id="login-password" name="login-password" type="password" class="form-control login-password" placeholder="Password">
                                <p class="forgot-password">
                                    <a href="#" id="resetpass-link" data-toggle="modal" data-target="#resetpass-modal">Forgot password?</a>
                                </p>
                            </div><!--//form-group-->
                            <button type="submit" class="btn btn-block btn-cta-primary">Log in</button>
                            <div class="checkbox remember">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div><!--//checkbox-->
                        </form>
                    </div><!--//login-form-container-->
                </div><!--//modal-body-->
                <div class="modal-footer">
                    <p>New to Tempo? <a class="signup-link" id="signup-link" href="#">Sign up now</a></p>                    
                </div><!--//modal-footer-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->
    
    <!-- Signup Modal -->
    <div class="modal modal-signup" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="signupModalLabel" class="modal-title text-center">New to Tempo? Sign up now.</h4>
                    
                </div>
                <div class="modal-body">
                    <p class="intro text-center">It only takes 3 minutes!</p>
                    <div class="social-login text-center">                        
                        <ul class="list-unstyled social-login">
                            <li><button class="twitter-btn btn" type="button"><i class="fab fa-twitter"></i>Sign up with Twitter</button></li>
                            <li><button class="facebook-btn btn" type="button"><i class="fab fa-facebook-f"></i>Sign up with Facebook</button></li>
                            <li><button class="google-btn btn" type="button"><i class="fab fa-google-plus-g"></i>Sign up with Google</button></li>
                        </ul>
                        <p class="note">Don't worry, we won't post anything without your permission.</p>
                    </div>
                    <div class="divider"><span>Or</span></div>
                    <div class="login-form-container">
                        <form class="login-form">                
                            <div class="form-group email">
	                            <i class="fas fa-envelope"></i>
                                <label class="sr-only" for="signup-email">Your email</label>
                                <input id="signup-email" name="signup-email" type="email" class="form-control login-email" placeholder="Your email">
                            </div><!--//form-group-->
                            <div class="form-group password">
	                            <i class="fas fa-lock"></i>
                                <label class="sr-only" for="signup-password">Your password</label>
                                <input id="signup-password" name="signup-password" type="password" class="form-control login-password" placeholder="Password">
                            </div><!--//form-group-->
                            <button type="submit" class="btn btn-block btn-cta-primary">Sign up</button>
                            <p class="note">By signing up, you agree to our terms of services and privacy policy.</p>
                        </form>
                    </div><!--//login-form-container-->
                </div><!--//modal-body-->
                <div class="modal-footer">
                    <p>Already have an account? <a class="login-link" id="login-link" href="#">Log in</a></p>                    
                </div><!--//modal-footer-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->
    
    <!-- Reset Password Modal -->
    <div class="modal modal-resetpass" id="resetpass-modal" tabindex="-1" role="dialog" aria-labelledby="resetpassModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="resetpassModalLabel" class="modal-title text-center">Password Reset</h4>
                </div>
                <div class="modal-body">
                    <div class="resetpass-form-container">
                        <p class="intro">Please enter your email address below and we'll email you a link to a page where you can easily create a new password.</p>
                        <form class="resetpass-form">                
                            <div class="form-group email">
	                            <i class="fas fa-envelope"></i>
                                <label class="sr-only" for="reg-email">Your email</label>
                                <input id="reg-email" name="reg-email" type="email" class="form-control login-email" placeholder="Your email">
                            </div><!--//form-group-->
                            <button type="submit" class="btn btn-block btn-cta-primary">Reset Password</button>
                        </form>
                    </div><!--//login-form-container-->
                </div><!--//modal-body-->
                <div class="modal-footer">
                    <p>I want to <a class="back-to-login-link" id="back-to-login-link" href="#">return to login</a></p>                    
                </div><!--//modal-footer-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->
 
    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/popper.min.js"></script> 
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="assets/plugins/back-to-top.js"></script> 
    <script type="text/javascript" src="assets/plugins/jquery-inview/jquery.inview.min.js"></script>
    <script type="text/javascript" src="assets/plugins/isMobile/isMobile.min.js"></script>     
    <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>    
    <script type="text/javascript" src="assets/js/main.js"></script> 
    
    <!-- Modal Video -->
    <script type="text/javascript" src="assets/js/modal-video.js"></script> 
    
    <!--[if !IE]>-->
    <script type="text/javascript" src="assets/js/animations.js"></script> 
    <!--<![endif]-->           

</body>
</html> 

